main {
    display: grid;
    place-items: center;
    height: 100svh;
    padding: 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(30ch, 50ch));
    gap: 1.5rem;
    max-width: 1100px;
}

@media screen and (width < 1000px) {
    .cards {
        display: flex;
        flex-direction: column;
    }
}

.card {
    padding: 1.5rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.card .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.2;
}

.card .header .name {
    font-size: inherit;
    font-weight: 600;
}

.card .header .subtitle {
    font-size: 11px;
    font-weight: 300;
    opacity: 70%;
}

.card .lead {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0;
}

.card .person {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.card .copy {
    line-height: 1.4;
    font-weight: 400;
    opacity: 0.7;
}

.card .header,
.card .lead,
.card .copy {
    z-index: 1;
}